body{
    background-color: yellow;
    padding-left: 20px;
    border: 2px solid black;
    width: 600px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  div{
    border: 200px;

  }
  .red{
    color: red;
  }
  table{
    width: 50%;
    
  }
  table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
  }
  th{ 
    text-align: left;
    width: 30%;
  }
  td{
    text-align: center;
  }